html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
#container {
    flex: 1;

    max-width:1200px;
    width: 100%;
    margin:20px auto;
    padding : 20px;
    background: white;
    box-shadow:0 0 10px rgba(0,0,0,0.3);
}

#noticeAdmin{
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 10px;
}

#noticeAdmin2{
    margin-bottom: 0px;
    font-size:27px;
    color:#052c65;
    border-bottom: 2px solid #052c65;
    padding-bottom: 10px;
}

#noticeList{
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #052c65;
    background-color: #fafafa;
    border-radius: 5px;
    min-height: 50px;
}


.main-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-signin {
    width: 100%;
    max-width: 350px;
    padding: 15px;
    margin: auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.07);
}

.logo-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    width: 120px;  /* 원하는 크기로 조절 */
}

#register-link{
    margin-top:10px;
    text-align:center;
    margin-bottom:10px;
}

#register-link a:hover{
    color:#212529;
}

.form-floating{
    margin-top:10px;
    margin-bottom: 10px;
}